---
layout: default
title: Blog
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container homepage">
        <h1>Machine learning and stuffs</h1>
        <p>some interesting and ground breaking sentence</p>
        <p>A powerful but simple image</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Posts</h2>

            <ul class="post">
                {% for post in paginator.posts %}
                    <li class="post_item">
                        <a class="post_title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <div class="post_meta">
                            <b class="post_author">{{ post.author }}</b>
                            <b class="post_sep">•</b>
                            <b class="post_date">{{ post.date | date: "%b %-d, %Y" }}</b>
                        </div>

                        {{ post.excerpt }}

                        <a class="btn btn-primary read_more" role="button" href="{{ post.url | prepend: site.baseurl }}">Read more 
                        <i class="fa fa-arrow-right"></i>
                        </a>
                        <hr>
                    </li>
                  {% endfor %}
            </ul>
            {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                    <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <em>{{ page }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                    <span>Next &raquo;</span>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm-4 border-left">
           <h2>Latest tweets</h2>
           <a class="twitter-timeline" data-height="400" href="https://twitter.com/ahoyosid">Tweets by ahoyosid</a> 
        </div>
    </div><!-- /row -->
    <hr>
</div> <!-- /container -->


<div class="container">
    <div id="blogroll">
        <h3>Blogroll</h3>
        <ul>
            <li><a href="http://www.twinee.fr/site/" target="_blank">Alexandre Abraham</a></li>
            <li><a href="http://fa.bianp.net/" target="_blank">Fabian Pedregosa</a></li>
            <li><a href="http://dohmatob.blogspot.fr/" target="_blank">Elvis Dohmatob</a></li>
            <li><a href="http://gael-varoquaux.info/" target="_blank">Gaël Varoquaux</a></li>
        </ul>
    </div>
</div>
