<header class="site-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}">andrés <strong>hoyos-idrobo </strong></a>
            <div class="navbar">
                <ul class="nav navbar-nav nav-pills pull-right navbar-right">
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li>
                        <a role="presentation" class="{% if my_page.url == page.url %} active {% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
           </div><!--/.navbar -->
        </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
          MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });
    </script>

    <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
</header>
