<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <!-- This is not realy a layout, I use it once to build my resume -->
    <div class="jumbotron">
        <div class="container">
            <h1> Andrés Hoyos Idrobo </h1>
            <h2 style="text-align: left;">PhD candidate</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-6 resume-left">
                <h2><i class="fa fa-gear"></i> Engineering</h2>

                <div class="col-sm-6">
                    <h2>Signal Processing</h2>
                </div>


                <div class="col-sm-6">
                    <h2>Supervised Learning</h2>
                </div>

                <div class="col-sm-6">
                    <h2>Unsupervised Learning</h2>
                </div>

                <div class="col-sm-6">
                    <h2>Sofware Development</h2>
                </div>


                <div class="col-sm-6">
                    <h2><i class="fa fa-globe"></i>Languages</h2>
                    <ul class="resume">
                        <li>
                            <b>Spanish</b>
                            Mother tonge
                        </li>
                        <li>
                            <b>English</b>
                        </li>
                        <li>
                            <b>French</b>
                        </li>
                        <li>
                            <b>Portugues</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2><i class="fa fa-code"></i>Development</h2>
                    <ul>
                        <li>
                            <b>Python</b>
                        </li>
                        <li>
                            <b>C</b>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12">
                    <h2>Personal Qualities</h2>
                    <ul>
                        <li>Cool</li>
                    </ul>
                </div>

                <div class="col-sm-12">
                    <h2>Personal Interest</h2>
                    <div class="col-sm-6">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                        Drawing &amp; Painting
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-film fa-2x"></i>
                        Cinema
                    </div>
                </div>

                <div class="col-sm-12">
                    <h2><i class="fa fa-paper-plane"></i>Contact</h2>

                    <ul class="resume">
                        <li><a href="mailto:{{ site.email }}">
                            <i class="fa fa-envelope fa-2x"></i>andres.hoyos-idrobo at inria.fr</a>
                        </li>
                        <li><a href=https://twitter.com/ahoyosid tooltip=twitter>
                            <i class="fa fa-twitter-square fa-2x"></i>
                            twitter.com/ahoyosid
                        </a> 
                        </li>
                        <li><a href=https://github.com/ahoyosid tooltip=GitHub>
                            <i class="fa fa-github-square fa-2x"></i>
                            github.com/ahoyosid
                        </a> 
                        </li>
                        <li><a href=https://www.linkedin.com/in/andres-hoyos-idrobo-85b42024 tooltip=linkedin>
                            <i class="fa fa-linkedin-square fa-2x"></i>
                            linkedin.com/in/andres-hoyos-idroboi-85b42024
                        </a> 
                        </li>
                    </ul>
                </div>


            </div><!--Engineering -->

            <div class="col-sm-6">
                <h2><i class="fa fa-flask"></i>Research</h2>
                <div>
                    <ul class="resume">
                        <li>
                            <h3>PhD canditate in computer science @ Inria</h3>
                            <b class="post_date">September 2014 - Current</b>
                            <p>Advisors: Bertrand Thirion, Gaël Varoquaux</p>
                        </li>
                        <li>
                            <h3>
                                <i class="fa fa-graduation-cap"></i>
                                MVA master @ ENS-Cachan
                            </h3>
                            <b class="post_date">September 2012 - 2013</b>
                            <p>Advisor: Nicolas Boulant</p>
                        </li>

                        <li>
                            <h3>
                                <i class="fa fa-graduation-cap"></i>
                                Bs.C in Biomedical Enginieering @ UAO
                            </h3>
                            <b class="post_date">September 2004 - 2010</b>

                        </li>
                        <li>
                            <h3>
                                <i class="fa fa-graduation-cap"></i>
                                Bs.C in Electronic Enginieering @ UAO
                            </h3>
                            <b class="post_date">September 2004 - 2010</b>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>
                        <i class="fa fa-lightbulb-o"></i>
                        Teaching
                    </h2>
                    Teaching assistant for 
                    <ul class="resume">
                        <li>
                            <h4>Relational Data Bases @ Institut Universitaire Technologique d'Orsay</h4>
                            <b class="post_date">2015 - 2016</b>
                                                     
                        </li>
                        <li>
                            <h4>Project Management @ Institut Universitaire Technologique d'Orsay</h4>
                            <b class="post_date">2015</b>
                        </li>
                        <li>
                            <h4>Mathematics @ UAO</h4>
                            <b class="post_date">2010</b>
                        </li>
                    </ul>
                </div>

                                
            </div><!-- Research -->

        </div>
    </div>

    {% include footer.html %}

  </body>
</html>
